<!DOCTYPE html>
<html>
    <head>
        <title>Todo list</title>
        link href=""
    </head>
    <body>
        <h1>This is my todo list</h1>
        <p>What i have todo is: {{my_todo_list}}</p>
        {% for Todo in my_todo_list %}
        <ul>
            <li>{{Todo}}</li>
        {%endif%}
        {% if user== 'admin' %}
        <p>I said right foot creep, ooh, I'm walking with that heaterLook around, stay low, make sure they don't see you Catch 'em bad, walk down, face 'em with that heaterThe devil under your feet, you're on your way to see him (let's go)Stretch me one, I can't sleep, bang out when I see youPlay with me, you can't sleep, we gunnin' to decease youYou won't have no case, rearrange your shape soon as they face youYou won't have no space, we in your section 'til we spray you</p>
        <button>Ban Kalyn</button>
        </ul>
        <form>
            <textarea name="new_todo"></textarea>
            <input type="submit">
        </form>
    </body>
</html>